<!--================Banner Area =================-->
<section class="banner_area">
  <div class="booking_table d_flex align-items-center">
    <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
      <div class="banner_content text-center">
        <h6>Away from furama life</h6>
        <h2>CONTRACT</h2>
      </div>
    </div>
  </div>

</section>
<!--================Banner Area =================-->
<!-- ================ Explore section start ================= -->
<section class="section-margin section-margin--small">
  <form [formGroup]="createContract" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="section-intro text-center pb-80px">
      <div class="section-intro__style">
        <img alt="" src="img/home/contract.png">
      </div>
      <h2>Create New Contract</h2>
    </div>
    <div class="col-8 mx-auto">
      <div class="mx-auto shadow-lg p-3 mb-5 bg-white rounded-lg">
        <div class="form-group row">
          <label for="startDate" class="col-sm-3 col-form-label">Start Date</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" id="startDate" formControlName="startDate">
            <p style="color: red" *ngIf="createContract.controls.startDate.hasError('required') && createContract.controls.startDate.touched">
              Không đc để trống
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="endDate" class="col-sm-3 col-form-label">End Date</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" id="endDate" formControlName="endDate">
            <p style="color: red" *ngIf="createContract.controls.endDate.hasError('required') && createContract.controls.endDate.touched">
              Không đc để trống
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="deposit" class="col-sm-3 col-form-label">Deposit</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="deposit" step="any" formControlName="deposit">
            <p style="color: red" *ngIf="createContract.controls.deposit.hasError('required') && createContract.controls.deposit.touched">
              Không đc để trống
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="customer" class="col-sm-3 col-form-label">Customer booking</label>
          <div class="col-sm-9">
            <select class="form-control"
                    id="customer"
                    name="customer" formControlName="customer">
              <option *ngFor="let item of customers" [ngValue]="item">{{item.customerName}}</option>
            </select>
            <p style="color: red" *ngIf="createContract.controls.customer.hasError('required') && createContract.controls.customer.touched">
              Không đc để trống
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="facility" class="col-sm-3 col-form-label">Service</label>
          <div class="col-sm-9">
            <select class="form-control"
                    id="facility"
                    name="facility" formControlName="facility">
              <option *ngFor="let item of facilitys" [ngValue]="item">{{item.name}}</option>
            </select>
            <p style="color: red" *ngIf="createContract.controls.facility.hasError('required') && createContract.controls.facility.touched">
              Không đc để trống
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="facility" class="col-sm-3 col-form-label">Total</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" step="any" formControlName="total">
            <p style="color: red" *ngIf="createContract.controls.total.hasError('required') && createContract.controls.total.touched">
              Không đc để trống
            </p>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="mx-2">
            <a href="#" class="button button--cancel cancel-banner-btn">Cancel</a>
          </div>
          <div class="mx-2">
            <button type="submit" class="button button--active home-banner-btn">Create</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  </form>
</section>
<!-- ================ Explore section end ================= -->
