<!--================Banner Area =================-->
<section class="banner_area">
  <div class="booking_table d_flex align-items-center">
    <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
      <div class="banner_content text-center">
        <h6>Away from furama life</h6>
        <h2>CUSTOMER</h2>
      </div>
    </div>
  </div>

</section>
<!--================Banner Area =================-->
<!-- ================ Explore section start ================= -->
<section class="section-margin section-margin--small">
  <form [formGroup]="createCus" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="section-intro text-center pb-80px">
      <div class="section-intro__style">
        <img alt="" src="img/home/user.png">
      </div>
      <h2>Create New Customer</h2>
    </div>
    <div class="col-8 mx-auto">
      <div class="mx-auto shadow-lg p-3 mb-5 bg-white rounded-lg">
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="name" name="name" formControlName="customerName">
            <p style="color: red" *ngIf="createCus.controls.customerName.hasError('pattern') && createCus.controls.customerName.touched">
              Tên phải đúng format Nguyen Van A
            </p>
            <p style="color: red" *ngIf="createCus.controls.customerName.hasError('required') && createCus.controls.customerName.touched">
              Không đc để trống
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="code" class="col-sm-3 col-form-label">Code</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="code" name="code" formControlName="code">
            <p style="color: red" *ngIf="createCus.controls.code.hasError('required') && createCus.controls.code.touched">
              Không đc để trống
            </p>
            <p style="color: red" *ngIf="createCus.controls.code.hasError('pattern') && createCus.controls.code.touched">
              Không đúng format KH-XXXX
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="customerBirthday" class="col-sm-3 col-form-label">customerBirthday</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" id="customerBirthday" name="customerBirthday" formControlName="customerBirthday">
            <p style="color: red" *ngIf="createCus.controls.customerBirthday.hasError('required') && createCus.controls.customerBirthday.touched">
              Không đc để trống
            </p>
            <p style="color: red" *ngIf="createCus.controls.customerBirthday.hasError('pattern') && createCus.controls.customerBirthday.touched">
              Không đúng format dd/mm/yyyy
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="customerIdCard" class="col-sm-3 col-form-label">Id card</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="customerIdCard" name="customerIdCard" formControlName="customerIdCard">
            <p style="color: red" *ngIf="createCus.controls.customerIdCard.hasError('required') && createCus.controls.customerIdCard.touched">
              Không đc để trống
            </p>
            <p style="color: red" *ngIf="createCus.controls.customerIdCard.hasError('pattern') && createCus.controls.customerIdCard.touched">
              Không đcđúng format XXXXXXXXX hoặc XXXXXXXXXXX
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="customerPhone" class="col-sm-3 col-form-label">customerPhone</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="customerPhone" name="customerPhone" formControlName="customerPhone">
            <p style="color: red" *ngIf="createCus.controls.customerPhone.hasError('required') && createCus.controls.customerPhone.touched">
              Không đc để trống
            </p>
            <p style="color: red" *ngIf="createCus.controls.customerPhone.hasError('pattern') && createCus.controls.customerPhone.touched">
              Không đúng format 090XXXXXX 091XXXXXXX hoặc ()
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="customerEmail" class="col-sm-3 col-form-label">customerEmail</label>
          <div class="col-sm-9">
            <input type="customerEmail" class="form-control" id="customerEmail" name="customerEmail" formControlName="customerEmail">
            <p style="color: red" *ngIf="createCus.controls.customerEmail.hasError('required') && createCus.controls.customerEmail.touched">
              Không đc để trống
            </p>
            <p style="color: red" *ngIf="createCus.controls.customerEmail.hasError('pattern') && createCus.controls.customerEmail.touched">
              Không đúng format customerEmail chuẩn quốc tế
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="customerAddress" class="col-sm-3 col-form-label">customerAddress</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="customerAddress" name="customerAddress" formControlName="customerAddress">
            <p style="color: red" *ngIf="createCus.controls.customerAddress.hasError('required') && createCus.controls.customerAddress.touched">
              Không đc để trống
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="customerGender" class="col-sm-3 col-form-label">customerGender</label>
          <div class="col-sm-9">
            <select class="form-control"
                    id="customerGender"
                    name="customerGender" formControlName="customerGender">
              <option value="-1">Other</option>
              <option value="0">Female</option>
              <option value="1">Male</option>
            </select>
            <p style="color: red" *ngIf="createCus.controls.customerGender.hasError('required') && createCus.controls.customerGender.touched">
              Không đc để trống
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="customerType" class="col-sm-3 col-form-label">Customer type</label>
          <div class="col-sm-9">
            <select id="customerType"
                    class="form-control" name="type" formControlName="customerType">
              <option value="">Choice</option>
              <option *ngFor="let item of customerTypes" [ngValue]="item">{{item.customerTypeName}}</option>
            </select>
            <p style="color: red" *ngIf="createCus.controls.customerType.hasError('required') && createCus.controls.customerType.touched">
              Không đc để trống
            </p>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="mx-2">
            <a href="#" class="button button--cancel cancel-banner-btn">Cancel</a>
          </div>
          <div class="mx-2">
<!--            <a href="#" class="button button&#45;&#45;active home-banner-btn" (click)="createCustomer()">Create</a>-->
            <button type="submit">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h4>Copyright: Phạm Việt Khoa-C1221G1</h4>
  </div>
  </form>
</section>
<!-- ================ Explore section end ================= -->
