<!-- ================ Explore section start ================= -->
<section class="section-margin section-margin--small">
  <form [formGroup]="createBenXe" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="section-intro text-center pb-80px">
        <div class="section-intro__style">
          <img alt="" src="img/home/user.png">
        </div>
        <h2>Update danh sách các xe đăng ký</h2>
      </div>
      <div class="col-8 mx-auto">
        <div class="mx-auto shadow-lg p-3 mb-5 bg-white rounded-lg">
          <div class="form-group row">
            <label for="soXe" class="col-sm-3 col-form-label">Số xe</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="soXe" name="soXe" formControlName="soXe">
              <p style="color: red"
                 *ngIf="createBenXe.controls.soXe.hasError('required') && (createBenXe.controls.soXe.touched || submited)">
                Không đc để trống
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="codeCustomer" class="col-sm-3 col-form-label">Loai Xe</label>
            <div class="col-sm-9">
              <select id="codeCustomer"
                      class="form-control" name="codeCustomer" formControlName="loaiXe" [compareWith]="compareByID">
                <option value="">Choice</option>
                <option *ngFor="let item of loaiXes" [ngValue]="item">{{item.loaiXe}}</option>
              </select>
              <p style="color: red"
                 *ngIf="createBenXe.controls.loaiXe.hasError('required') && (createBenXe.controls.loaiXe.touched || submited)">
                Không đc để trống
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="tenNhaXe" class="col-sm-3 col-form-label">Tên Nhà xe</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="tenNhaXe" name="tenNhaXe" formControlName="tenNhaXe">
              <p style="color: red"
                 *ngIf="createBenXe.controls.tenNhaXe.hasError('required') && (createBenXe.controls.tenNhaXe.touched || submited)">
                Không đc để trống
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="diemDi" class="col-sm-3 col-form-label">Điểm đi</label>
            <div class="col-sm-9">
              <select id="diemDi"
                      class="form-control" name="diemDi" formControlName="diemDi" [compareWith]="compareByID">
                <option value="">Choice</option>
                <option value="Đà Nẵng">Đà Nẵng</option>
                <option value="Quảng Nam">Quảng Nam</option>
              </select>
              <p style="color: red"
                 *ngIf="createBenXe.controls.diemDi.hasError('required') && (createBenXe.controls.diemDi.touched || submited)">
                Không đc để trống
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="diemDen" class="col-sm-3 col-form-label">Điểm đến</label>
            <div class="col-sm-9">
              <select id="diemDen"
                      class="form-control" name="diemDen" formControlName="diemDen" [compareWith]="compareByID">
                <option value="">Choice</option>
                <option value="Quảng trị">Quảng trị</option>
                <option value="Quảng Bình">Quảng Bình</option>
                <option value="Huế">Huế</option>
              </select>
              <p style="color: red"
                 *ngIf="createBenXe.controls.diemDen.hasError('required') && (createBenXe.controls.diemDen.touched || submited)">
                Không đc để trống
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="sdt" class="col-sm-3 col-form-label">Số điện thoại</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="sdt" name="sdt" formControlName="sdt">
              <p style="color: red"
                 *ngIf="createBenXe.controls.sdt.hasError('required') && (createBenXe.controls.sdt.touched || submited)">
                Không đc để trống
              </p>
              <p style="color: red"
                 *ngIf="createBenXe.controls.sdt.hasError('pattern') && (createBenXe.controls.sdt.touched || submited)">
                Không đúng định dạng (090-093-097 XXXXXXX)
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="email" name="email" formControlName="email">
              <p style="color: red"
                 *ngIf="createBenXe.controls.email.hasError('required') && (createBenXe.controls.email.touched || submited)">
                Không đc để trống
              </p>
              <p style="color: red"
                 *ngIf="createBenXe.controls.email.hasError('email') && (createBenXe.controls.email.touched || submited)">
                Không đúng định dạng Mail tiêu chuẩn
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="gioDi" class="col-sm-3 col-form-label">Giờ đi</label>
            <div class="col-sm-9">
              <input type="time" class="form-control" id="gioDi" name="gioDi" formControlName="gioDi">
              <p style="color: red"
                 *ngIf="createBenXe.controls.gioDi.hasError('required') && (createBenXe.controls.gioDi.touched || submited)">
                Không đc để trống
              </p>
              <p style="color: red"
                 *ngIf="createBenXe.controls.gioDi.hasError('validTime') && (createBenXe.controls.gioDi.touched || submited)">
                Sai rồi đó
              </p>
            </div>
          </div>
          <div class="form-group row">
            <label for="gioDen" class="col-sm-3 col-form-label">Giờ đến</label>
            <div class="col-sm-9">
              <input type="time" class="form-control" id="gioDen" name="gioDen" formControlName="gioDen">
              <p style="color: red"
                 *ngIf="createBenXe.controls.gioDen.hasError('required') && (createBenXe.controls.gioDen.touched || submited)">
                Không đc để trống
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="mx-2">
              <a routerLink="/list" class="btn btn-secondary">Cancel</a>
            </div>
            <div class="mx-2">
              <button type="submit" class="btn btn-success">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
<!-- ================ Explore section end ================= -->



